[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git  
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = https://github.com/sifive/riscv-qemu.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "fsbl"]
	path = fsbl
	url = https://github.com/sifive/freedom-u540-c000-bootloader.git
[submodule "hart-software-services"]
	path = hart-software-services
	url = https://github.com/polarfire-soc/hart-software-services.git
