[submodule "linux"]
	path = linux
	url = https://bitbucket.microchip.com/scm/fpga_pfsoc_es/linux.git 
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "fsbl"]
	path = fsbl
	url = https://github.com/sifive/freedom-u540-c000-bootloader.git
[submodule "hart-software-services"]
	path = hart-software-services
	url = https://github.com/polarfire-soc/hart-software-services.git
