[submodule "linux"]
	path = linux
	url = https://github.com/polarfire-soc/linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "fsbl"]
	path = fsbl
	url = https://github.com/sifive/freedom-u540-c000-bootloader.git
[submodule "polarfire-soc-examples/polarfire-soc-linux-examples"]
	path = polarfire-soc-examples/polarfire-soc-linux-examples
	url = https://github.com/polarfire-soc/polarfire-soc-linux-examples.git
[submodule "polarfire-soc-examples/polarfire-soc-amp-examples"]
	path = polarfire-soc-examples/polarfire-soc-amp-examples
	url = https://github.com/polarfire-soc/polarfire-soc-amp-examples.git
