CONFIG_RISCV=y
CONFIG_SMP=y
CONFIG_SBI_V01=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x2000
CONFIG_TARGET_MICROCHIP_ICICLE=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_DEFAULT_DEVICE_TREE="microchip-mpfs-icicle-kit"
CONFIG_SYS_PROMPT="RISC-V # "
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_DM_MTD=y
# CONFIG_FIT=
# CONFIG_FIT_SIGNATURE=
# CONFIG_RSA=
CONFIG_BOOTCOMMAND="setenv partitions \"name=u-boot,start=4M,size=1M,type=21686148-6449-6E6F-744E-656564454649;name=kernel,size=100M,type=0FC63DAF-8483-4772-8E79-3D69D8477DE4;name=root,size=-,type=0FC63DAF-8483-4772-8E79-3D69D8477DE4;\"; setenv fileaddr 0x90000000; load mmc 0:2 ${fileaddr} boot.scr; source ${fileaddr};"
CONFIG_SYS_BOOT_RAMDISK_HIGH=y
CONFIG_PHYS_64BIT=y

CONFIG_CMD_GPT=y
CONFIG_CMD_FS_UUID=y
CONFIG_CMD_UUID=y
CONFIG_PARTITIONS=y
CONFIG_DOS_PARTITION=y
CONFIG_EFI_PARTITION=y
CONFIG_EFI_PARTITION_ENTRIES_NUMBERS=128
CONFIG_EFI_PARTITION_ENTRIES_OFF=0
CONFIG_PARTITION_UUIDS=y
CONFIG_PARTITION_TYPE_GUID=y
CONFIG_SUPPORT_OF_CONTROL=y
CONFIG_DTC=y